td {
    background:blueviolet;
}

.wSet_file{
   border: 4px white solid;
   width: 50%; 
}
    .wSet_file table {
        width:100%;
    }
    .weaponTable {
        td {
            box-sizing: border-box;
            
            &:nth-child(2n+1){
                width:10%;
            }
            &:nth-child(2){
                width:80%;
            }
        }
    }
    .itemTable {
        table-layout: fixed;
        overflow-wrap: normal;
    }