$green-1:rgba(31, 207, 51, 127);
$green-2:rgba(23, 191, 23, 127);
$chatreuse: #DFFF00;
$amber: #FFBF00;
$safety-orange: #FF7900;
$corporate-red: #DC241F;
$true_capri: #00BFFF;
$capri: #0499ff;
$true_azure: #007FFF;
//Another blue #6633ff
$lightish-grey: rgba(192, 192, 192, 255);